body {
	font-family: 'Open Sans', sans-serif;
	margin: 10px;
}

.input {
	outline: 0;
    border: 5px solid #dcdcdc;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: calc(25% - 4px);
    border: 5px solid #dcdcdc;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
    padding: 10px;
    color: #000;
    text-decoration: none;
    box-sizing: border-box;
}

.box--empty {
    padding: 0;
    border: 0;
}

.box:nth-child(4n) {
    margin-right: 0px;
}

.box__desc {
    color: #a6a6a6;
    font-size: 14px;
}

.box__icon {
    width: 100px;
    height: 110px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 15px;
}

.box__empty {
	text-align: center;
}

.page {
	border: 5px solid #dcdcdc;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.page__icon {
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 35px;
}

.page__content {
    text-align: justify;
    margin-top: 20px;
    padding: 0 5px;
    font-size: 14px;
}

.page-back {
    background-image: url(../img/icons/icon-arrow.svg);
    float: left;
    width: 32px;
    height: 32px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 15px;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.iframe {
    height: calc(100vh - 140px);
}

.footer {
    text-align: center;
    color: #a6a6a6;
}

.footer a {
    text-decoration: none;
    color: #a6a6a6;
    font-size: 14px;
}

@media (max-width: 768px) {

.box {
    width: 33%;
}

}

@media (max-width: 520px) {

.container {
	width: 100%;
}

.box {
	width: 100%;
}

}