<!DOCTYPE html>
<html>
<head>
	<title>HTML TOOLTIP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	
	<div id="app">
		 <router-view></router-view>
	</div>

	<template id="template--card-list">
		<div class="container">
			<input type="text" class="input" placeholder="Поиск" v-model="filter">
			<div class="block">
				<router-link :to="'/' + card.link" class="box" v-for="card in getCards">
					<card :card-info="card"></card>
				</router-link>
			</div>
		    <div v-if="getCards.length === 0" class="box__empty">Ничего не найдено</div>
		</div>
	</template>

	<template id="template--card">
		<div>
			<div class="box__header">{{ cardInfo.header }}</div>
			<div class="box__content">
				<div class="box__desc">{{ cardInfo.desc }}</div>
				<div class="box__icon" :style="{ 'background-image': 'url(' + cardInfo.icon + ')' }"></div>
			</div>
		</div>
	</template>

	<template id="template--page">
		<div class="container">
			<div class="page">
				<button-back></button-back>
				<div class="box__header">{{ getPage.pageHeader }}</div>
				<div class="box__desc">{{ getPage.pageDesc }}</div>
				<div class="page__icon" :style="{ 'background-image': 'url(' + getPage.pageIcon + ')' }"></div>
				<script type="text/javascript" :src="{ getPage.pageHeader }.json"></script>
				<div class="page__content">{{ getPage.pageContent }}</div>
			</div>
		</div>
	</template>

	<template id="button-back">
		<div class="page-back" v-on:click="goBack()"></div>
	</template>

	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>